{% extends "mainapp/base.html" %}

{% block title %}
Login Page
{% endblock %}

{% block content %}
    <form action="/login/" method="POST">
        {% csrf_token %}
        {% if error %}
            {{ error }}Please enter new user.
        {% endif %}
        {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit"> Login </button>
        <button> <a href="{% url 'mainapp:main' %}"> Cancel </a></button>
    </form>    
{% endblock %}
 
        
