{% extends "mainapp/base.html" %}

{% block title %}
Signup Page
{% endblock %}

{% block content %}
    {% if error_mssg %}
        {{ error_mssg }}Please enter new user.
    {% endif %}
    <form action="/signup/" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit"> Submit </button>
        <button> <a href="{% url 'mainapp:main' %}"> Cancel  </a> </button>
    </form>
{% endblock %}